html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}


body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: $white;
  font-size: 30px;
  color: $black;
  border-radius: 4px;
  padding: 40px 30px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
}

