html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}


body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title,
.title-box {
  max-width: 100%;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
}

.title {
  font-size: 30px;
  padding: 40px 30px;
}

.title-box {
  padding: 30px;
}
