@media (max-width: 1200px) {
  .header {
    &__item {
      &--pages {
        .dropdown {
          flex-wrap: wrap;
          justify-content: space-around;
          height: 400px;
          overflow-y: scroll;

          &__column {
            margin-bottom: 20px;
            padding: 10px;

            &:first-child {
              padding: 10px;
            }
          }

          &__column-title {
            text-align: center;
          }

          &__column-menu {
            margin: 0;
            justify-content: space-evenly;
          }

          &__link {
            padding-left: 0;
          }
        }
      }
    }
  }

  .search {
    &__form {
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      padding: 40px 20px;

      &::before {
        width: calc(100% - (15px * 2))
      }

      &::after {
        width: calc(100% - (30px * 2));
      }
    }
  }

  .benefits {
    padding-top: 140px;
    padding-bottom: 0;
  }

  .title-box {
    padding: 15px 30px;
  }

  .featured {
    padding: 60px 0;

    &__title {
      margin-bottom: 15px;
    }

    .product {
      &__card {
        padding: 0 15px;
      }

      &__description {
        max-width: 100%;
        margin-bottom: 20px;
      }


      &__tag-link {
        margin-bottom: 10px;
      }

      &__stats {
        max-width: 100%;
      }

      &__box {
        margin-right: 10px;
      }

      &__stars {
        padding: 0 30px;
      }
    }
  }

  .newest {
    padding: 0 0 50px;

    &__inner {
      margin-bottom: 0;
    }

    &__inner-box {
      margin-left: 0;
      justify-content: space-between;
    }

    .product {
      flex-basis: 100%;
      max-width: calc((100vw - 30px - 60px) / 2);
      text-align: center;
      margin-left: 0;

      &__img {
        border-radius: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      &__card {
        padding: 0;
      }

      &__card-inner {
        padding: 0 15px;

      }

      &__title {
        margin-top: 0;
        padding: 0 10px;
      }

      &__description {
        max-width: 100%;
        margin: 0;
        min-height: unset;
      }

      &__about {
        justify-content: center;
      }

      &__stats {
        justify-content: center;
        max-width: 100%;
        padding: 15px 0;
      }

      &__box {
        margin-right: 20px;
      }
    }
  }

  .feed {
    padding: 0;

    &__title {
      margin-bottom: 30px;
    }

    &__slider-item {
    }

    .product {
      max-width: calc((100vw - 30px - calc((1140px - (3 * 361px)) / 2)) / 2);
      text-align: center;

      &__img {
        border-radius: 4px 4px 0 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      &__stats {
        justify-content: center;
        max-width: 100%;
        padding: 15px 0;
      }

      &__card {
        padding: 0;
      }

      &__card-inner {
        padding: 0 15px;
      }

      &__title {
        margin-top: 5px;
        padding: 0 10px;
      }

      &__description {
        max-width: 100%;
        margin: 0;
        min-height: unset;
        padding: 0;
      }

      &__about {
        justify-content: center;
      }

      &__box {
        margin-right: 20px;
      }

    }
  }

  .stats {
    padding: 40px 0;
  }

  .advantages {
    padding: 40px 0;

    .title__subtitle {
      margin-bottom: 30px;
      max-width: 100%;
    }

    &__box {
      justify-content: space-evenly;
    }
  }

  .feedback {
    padding: 50px 0;

    .title {
      &__text {
        margin-bottom: 20px;
      }

      &__subtitle {
        max-width: 100%;
      }
    }

  }

  .news {
    padding: 40px 0;

    .title {
      &__text {
        margin-bottom: 20px;
      }

      &__subtitle {
        max-width: 100%;
      }
    }

    &__title {
      margin-bottom: 15px;
    }

    &__inner {
      padding: 10px 30px;
    }

    &__item {
      max-width: calc((100vw - 30px - 40px) / 2);
    }

    &__date-box,
    &__stats {
      padding: 5px;
    }
  }

  .join {
    padding: 40px 0;
  }

  .footer {
    &__top {
      padding: 30px 0;
    }
  }

  .filter {
    &__inner {
      flex-direction: column;
    }

    &__links {
      margin-bottom: 20px;
    }

    &__filters {
      flex-wrap: wrap;
    }
  }

  .sort {
    .product {
      flex-basis: 100%;
      max-width: calc(50% - 30px);

      &__img-box {
        width: 100%;
      }

      &.list {
        max-width: 100%;
        display: block;

        .product {
          &__img-box {
            max-width: 100%;
            width: 100%;
          }

          &__img {
            width: 100%;
            border-radius: 4px 4px 0 0;
          }

          &__card {
            min-height: unset;
            padding: 25px;
          }

          &__tag {
            margin-left: 0;
          }

          &__seller {
            margin: 0 0 10px;
          }

          &__section-left {
            padding-left: 0;
          }


          &__section-left,
          &__section-right,
          &__section-middle {
            max-width: unset;
            width: unset;
            padding-right: 10px;
          }

          &__section-middle {
            max-width: 200px;
            width: 100%;
          }
        }
      }
    }


  }
}

@media (max-width: 992px) {

  .header {

    &__btn {
      height: 44px;
      line-height: 44px;
      border-radius: 23px;
    }

    &__notify-box {
      margin-right: 0;
    }

    &__notify--bell {
      .dropdown {
        left: -50px;

        &::after {
          left: 67px;
        }
      }
    }

    &__menu {
      display: none;
      position: absolute;
      top: 80px;
      background-color: #eef1f3;
      border-left: 10px solid $blue;
      border-bottom: 2px solid $blue;
      border-right: 2px solid $blue;
      text-align: center;
      z-index: 2;
      max-width: 100%;
      width: 100%;

    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding-right: 0;
      line-height: 45px;
      border-top: 2px solid $blue;
      margin: 0;
      position: relative;

      & + & {
        padding-left: 0;
      }

      .dropdown {
        display: none;
        border: 2px solid $blue;
        width: 100%;

        &__menu {
          padding: 0;
        }
      }

      &:hover {
        .header__user-menu--global {
          display: block;
        }
      }

      &--pages {
        .dropdown {
          &__column-title {
            margin: 0 20px;
            padding: 10px 0;
          }
        }
      }
    }

    &__menu-link {
      display: block;
      text-align: left;
      padding-left: 20px;
      width: 100%;
    }

    &__mobile-menu {
      display: block;
      padding-right: 20px;
    }
  }

  .dropdown {

    &__item {
      align-items: center;
    }

    &__target,
    &__sender,
    &__view {
      padding: 13px 0;
    }

    &__event {
      line-height: 42px;
    }

    &__delete {
      width: 44px;
      height: 44px;
    }

    &__price {
      padding: 8px 10px;
      height: unset;
      border-radius: 20px;
    }

    &__product-name {
      padding: 10px 0;
    }

    &__sender {
      &::after {
        top: 12px;
      }
    }
  }

  .close-btn {
    display: block;
    width: 50px;
    height: 100%;

    &::before {
      font-size: 20px;
    }
  }

  .intro {
    min-height: unset;
    padding-bottom: 130px;

    &__title {
      padding-top: 20px;
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    .button {
      margin-bottom: 20px;
    }
  }

  .benefits {
    padding-top: 100px;

    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      max-width: 100%;
      padding: 20px 0;

    }

    &__image {
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 10px;
      display: block;
    }

    &__text {
      display: block;
    }
  }

  .featured {
    .product {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__img {
        border-radius: 4px 4px 0 0;
      }

      &__card {
        max-width: 100%;
      }

      &__title {
        margin: 0;
        padding: 12px 0;
      }

      &__about {
        justify-content: center;
        margin-bottom: 10px;
      }

      &__tag,
      &__seller {
        padding: 14px 0;
      }

      &__tag-link {
        padding: 10px 20px;
        height: auto;
        margin-right: 15px;
        border-radius: 24px;
      }

      &__price {
        padding: 7px 20px;
        height: unset;
        border-radius: 24px;
      }

      &__description {
        min-height: unset;
        margin-bottom: 10px;
      }

      &__stats {
        justify-content: center;
        padding: 10px 0;
      }
    }
  }

  .newest {
    &__tags {
      margin-bottom: 30px;
    }

    .product {
      max-width: calc((100vw - 30px - 20px) / 2);

      &__title {
        margin: 0;
        padding: 12px 0;
      }

      &__img {
        border-radius: 4px 4px 0 0;
      }

      &__card {
        max-width: 100%;
      }

      &__tag,
      &__seller {
        padding: 14px 0;
      }

      &__price {
        padding: 6px 20px;
        height: unset;
        border-radius: 22px;
      }

      &__tag-link {
        padding: 10px 20px;
        height: auto;
        margin-right: 15px;
        border-radius: 24px;
        margin-bottom: 10px;
      }
    }
  }

  .sell-buy {
    padding-bottom: 0;

    &__part {
      display: block;
      text-align: center;
      position: static;
      width: 100%;
      height: auto;
      padding: 30px 0;
    }

    &__image {
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  .news {
    &__inner {
      padding: 15px;
      padding-top: 0;
      text-align: center;
    }

    &__title {
      margin-bottom: 0;
      padding: 10px 0;
    }

    &__info {
      align-items: center;
    }

    &__comments-link {
      padding: 15px 0;
    }
  }

  .support {
    &__highlight {
      padding: 10px 0;
    }
  }

  .feedback {
    &__box {
      display: block;

    }

    &__item {
      max-width: 100%;
      padding: 20px;
    }

    &__slider-item {
      padding: 30px 0;
    }

  }

  .footer {

    &__inner {
      flex-wrap: wrap;
    }

    &__column--big {
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
    }


    &__address {
      padding: 12px 0;
    }

    &__logo {
      margin-bottom: 10px;
    }

    &__link {
      padding: 13px 0;
    }

    &__item {
      line-height: 44px;
    }

    &__copyright-link {
      padding: 13px 0;
    }
  }

  .social {
    &__link {
      width: 44px;
      height: 44px;
    }
  }

  .searcher {
    padding: 30px 0;
  }

  .breadcrumbs {
    &__link {
      padding: 13px 0;

      &--wide {
        padding: 13px 2px;
      }
    }
  }

  .filter {
    padding: 15px 0;

    &__link {
      padding: 13px 0;
    }

    &__sort {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;

      &--active {
        &::after {
          top: 1px;
          left: 14px;
        }
      }
    }
  }

  .sort {
    padding: 40px 0 30px;

    &__inner {
      display: block;
    }

    &__aside {
      max-width: 100%;
      margin-right: 0;
    }

    &__aside-item {
      padding: 15px;
    }

    &__aside-title {
      padding-bottom: 15px;
    }

    &__list {
      padding: 0;
    }

    &__link {
      padding: 14px 0;
      max-width: 100%;
      width: 100%;
      display: block;
      text-align: left;
    }

    &__item {
      & + & {
        margin: 0;
        align-items: center;
      }
    }

    &__quantity {
      padding: 14px 0;
    }

    &__btn {
      margin-top: 60px;
    }

    .product {
      &__title {
        margin: 0;
        padding: 12px 0;
      }

      &__seller {
        padding: 8px 0;
        margin-bottom: 12px;
      }

      &__price {
        padding: 22px 18px;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__tag {
        padding: 14px 0;
      }

      &.list {
        .product {

          &__title {
            margin: 0;
          }

          &__card {
            padding: 0 15px 15px;
          }

          &__description {
            margin: 0;
          }

          &__comments-link {
            padding: 14px 0;
          }
        }
      }
    }

    &__pag-link {
      height: 44px;
      border-radius: 24px;
    }

    &__arrow {
      height: 44px;
      border-radius: 24px;
      margin-bottom: 10px;
    }
  }

  .irs--round {
    .irs-line {
      width: 100%;
    }

    .irs-to {
      left: unset !important;
      right: 0 !important;
    }
  }
}

@media (max-width: 780px) {
  .header {

    &__user-box {
      .dropdown {
        top: 76px !important;
      }
    }

    &__top-inner {
      padding: 20px 0 0;
      flex-direction: column;
      justify-content: left;
    }

    &__btn {
      margin: 0;
      max-width: 100%;
      text-align: center;
    }

    &__notify {
      margin-right: 15px;

      &--message {
        .dropdown {
          right: -75px;
        }
      }
    }


    &__logo {
      margin-bottom: 10px;
    }

    &__user {
      margin-top: 20px;
      margin-left: auto;
      align-items: center;
      justify-content: flex-end;
      max-width: 100%;
      width: 100%;
    }


  }

  .intro {
    padding-bottom: 140px;

    &__title {
      font-size: 40px;
      line-height: normal;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  .search {
    &__form {
      display: block;
      text-align: center;

    }

    &__input {
      max-width: 100%;
      margin-bottom: 20px;
      border-radius: 4px;
    }

    &__select {
      border-radius: 4px;
    }

    &__select-wrapper {
      margin: 0;
    }

    &__btn {
      margin-left: 20px;

    }
  }

  .benefits {
    padding-top: 140px;
  }

  .newest {

    .product {
      max-width: 100%;
    }
  }

  .feed {
    .product {
      max-width: calc(100vw - 30px);

      &__card {
        max-width: 100%;
      }
    }
  }

  .stats {
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
      margin-bottom: 40px;
    }

    &__img {
      margin-bottom: 10px;
    }
  }

  .advantages {
    &__item {
      max-width: 100%;
      padding: 20px;
    }

    &__img {
      margin-bottom: 15px;
    }

    &__item-title {
      margin-bottom: 15px;
    }
  }

  .news {
    &__item {
      max-width: 100%;
    }

    &__inner {
      text-align: center;
    }
  }

  .footer {
    &__inner {
      justify-content: flex-start;
    }

    &__column {
      &--bigger {
        max-width: 100%;
        width: 100%;
        margin-top: 30px;
      }

      &--margin {
        margin-right: 80px;
      }
    }

    &__title {
      margin-bottom: 5px;
    }

  }

  .filter {

    &__links,
    &__filters {
      text-align: center;
      max-width: 100%;
      width: 100%;
    }

    &__price-box,
    &__qt-box {
      max-width: 100%;
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
    }

    &__price,
    &__qt {
      width: 100%;
    }
  }

  .login {
    &__form {
      padding: 15px 15px 0;
    }
    &__btn {
      max-width: 100%;
      width: 100%;
    }
    &__lost-box {
      display: block;
    }
    &__lost {
      &+& {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__item {
      &--pages {
        .dropdown {
          &__column-menu {
            flex-wrap: wrap;
          }

          &__column-list {
            max-width: 100%;
            width: 100%;
            margin-left: 0;
          }

          &__link {
            max-width: 100%;
          }
        }
      }
    }

    &__notify {
      margin-right: 7px;

      .dropdown {
        max-width: 315px;
      }

      &--cart {
        .dropdown {
          right: -116px;

          &::after {
            right: 132px;
          }

          &__item {
            display: block;
            padding: 15px 10px;
          }

          &__manager {
            display: flex;
            justify-content: space-between;
            min-height: unset;
            //margin: 10px 0;
            margin-top: 20px;
          }

          &__delete {
            margin-bottom: 0;
          }

          &__price {
            display: inline-block;
            margin-left: 50px;
          }
        }
      }

      &--message {
        .dropdown {
          right: -180px;

          &::after {
            left: 100px;
            right: unset;
          }
        }
      }

      &--bell {
        .dropdown {
          left: -20px;

          &::after {
            left: 36px;
          }
        }
      }
    }

    &__user-box {
      display: block;

      .dropdown {
        top: 94px !important;
      }
    }

    &__user-link {
      margin-right: 5px;
    }
  }

  .intro {
    padding-bottom: 170px;
  }

  .search {
    &__input {
      margin-bottom: 10px;
    }

    &__select-wrapper {
      max-width: 100%;
      width: 100%;
    }

    &__select {
      max-width: 100%;
      width: 100%;
    }

    &__btn {
      display: block;
      max-width: 100%;
      margin: 10px auto 0;
    }
  }

  .benefits {
    padding-top: 160px;
  }

  .featured {
    .product {
      &__stats {
        flex-direction: column;
      }

      &__stars {
        margin-top: 10px;
      }
    }
  }

  .feedback {
    &__top {
      &::after {
        display: none;
      }
    }
  }

  .support {
    padding-bottom: 0;

    &__part {
      position: static;
      max-width: 100%;
      width: 100%;
      height: auto;
      padding: 30px 0;
    }
  }

  .filter {
    &__links {
      margin-bottom: 10px;
    }

    &__link {
      display: block;
      max-width: 100%;
      width: 100%;
      margin-bottom: 10px;
    }

    &__btn-box {
      max-width: 100%;
      width: 100%;
      //flex-direction: column;
    }

    &__sort {
      width: 100%;

      &--active {
        &::after {
          display: none;
        }
      }
    }
  }

  .sort {
    .product {
      max-width: 100%;

      &__stats {
        max-width: 100%;
      }

      &.list {
        .product {

          &__card {
            padding: 0;
          }

          &__card-inner {
            flex-direction: column;
          }



          &__price {
            margin-bottom: 0;
            margin-right: 20px;
          }

          &__section-middle {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            //flex-direction: column;
            justify-content: space-between;
            border: none;
            max-width: 100%;
          }

          &__seller,
          &__likes,
          &__comments-link {
            margin: 0;
            padding-right: 20px;
          }

          &__section-left,
          &__section-middle,
          &__section-right {
            padding: 0 15px;
            border: none;
          }

          &__section-right {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 0;
            border-top: 1px solid #ececec;
          }

          &__section-middle {
            padding-bottom: 15px;
          }

        }
      }
    }
  }

}


@media (min-width: 993px) {
  .header__menu {
    display: block !important;
  }
}
