@media (max-width: 1200px) {
  .search {
    &__form {
      max-width: 100%;
      width: 100%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      padding: 40px 20px;

      &::before {
        width: calc(100% - (15px * 2))
      }
      &::after {
        width: calc(100% - (30px * 2));
      }
    }
  }

  .benefits {
    padding-top: 140px;
    padding-bottom: 0;
  }

  .title-box {
    padding: 15px 30px;
  }

  .featured {
    padding: 60px 0;
    &__title {
      margin-bottom: 15px;
    }

    .product {
      &__card {
        padding: 0 10px 0 10px;
      }

      &__description {
        max-width: 100%;
        margin-bottom: 20px;
      }


      &__tag-link {
        margin-bottom: 10px;
      }

      &__stats {
        max-width: 100%;
      }

      &__box {
        margin-right: 10px;
      }

      &__stars {
        padding: 0 30px;
      }
    }
  }

  .newest {
    padding: 0 0 50px;

    &__inner {
      margin-bottom: 0;
    }

    &__inner-box {
      margin-left: 0;
      justify-content: space-between;
    }
    .product {

      &--small {
        flex-basis: 100%;
        max-width: calc((100vw - 30px - 60px)/2);
        text-align: center;
        margin-left: 0;
      }

      &__img {
        &--small {
          border-radius: 0;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__card {
        &--small {
          padding: 0;
        }
      }

      &__title {
        &--small {
          margin-top: 0;
          padding: 0 10px;
        }
      }

      &__description {
        &--small {
          max-width: 100%;
          margin: 0;
          min-height: unset;
          padding: 0 10px;
        }
      }

      &__about {
        &--small {
          justify-content: center;
        }
      }

      &__stats {
        &--small {
          justify-content: center;
          max-width: 100%;
          padding: 15px 0;
        }
      }

      &__box {
        margin-right: 20px;
      }
    }
  }

  .feed {
    padding: 0;

    &__title {
      margin-bottom: 30px;
    }

    &__slider-wrapper {
    }

    .product {
      &--single {
        max-width: calc((100vw - 30px - calc((1140px - (3 * 361px)) / 2))/2);
        text-align: center;
      }
      &__img {
        &--small {
          border-radius: 0;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__stats {
        &--small {
          justify-content: center;
          max-width: 100%;
          padding: 15px 0;
        }
      }
      &__card {
        &--small {
          padding: 0;
        }
      }

      &__title {
        &--small {
          margin-top: 5px;
          padding: 0 10px;
        }
      }

      &__description {
        &--small {
          max-width: 100%;
          margin: 0;
          min-height: unset;
          padding: 0 10px;
        }
      }

      &__about {
        &--small {
          justify-content: center;
        }
      }

      &__box {
        margin-right: 20px;
      }

    }
  }
}


  @media (max-width: 992px) {
  .header {
    &__item {
      padding-right: 0;
    }

    &__alarm-box,
    &__msg-box,
    &__cart-box {
      padding-left: 0;
      margin-right: 0;
    }

    &__alarm-box {
      .header__notify-menu {
        left: unset;
        &::after {
          left:unset;
          right: 18px;
        }
      }
    }

    &__menu {
      display: none;
      position: absolute;
      top: 80px;
      background-color: #eef1f3;
      border-left: 10px solid $violet;
      text-align: center;
      z-index: 5;
      max-width: 100%;
      width: 100%;
    }

    &__item {
      display: block;
      height: auto;
      line-height: 45px;
      border-top: 2px solid #262b30;
      padding-left: 20px;
      margin: 0;
      & + & {
        padding-left: 15px;
      }
    }

    &__mobile-menu {
      display: block;
      padding-right: 20px;
    }

    &__user-menu {
      &--global {
        display: none;
      }
    }

    &__pages-menu {
      display: none;
    }
  }

  .intro {
    min-height: unset;
    padding-bottom: 130px;
    &__title {
      padding-top: 20px;
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    .button {
      margin-bottom: 20px;
    }
  }

  .benefits {
    padding-top: 100px;
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      max-width: 100%;
      padding: 20px 0;

    }

    &__image {
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 10px;
      display: block;
    }

    &__text {
      display: block;
    }
  }


  .featured {
    .product {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__img {
        border-radius: 4px 4px 0 0 ;
      }

      &__card {
        max-width: 100%;
      }

      &__title {
        margin-top: 10px;
      }

      &__about {
        justify-content: center;
        margin-bottom: 10px;
      }

      &__description {
        min-height: unset;
        margin-bottom: 10px;
      }

      &__stats {
        justify-content: center;
        padding: 10px 0;
      }
    }
  }

  .newest {
    &__tags {
      margin-bottom: 30px;
    }

    .product {
      &--small {
        max-width: calc((100vw - 30px - 20px)/2);
      }

      &__img {
        &--small {
          border-radius: 4px 4px 0 0 ;
        }
      }

      &__card {
        &--small {
          max-width: 100%;
        }
      }

      &__tag-link {
        &--small {
          margin: 5px 0;
        }
      }

    }
  }


  .footer {
    &__top {
      padding: 30px 0;
    }

    &__inner {
      flex-wrap: wrap;
    }

    &__column--big {
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
    }

    &__logo {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 780px) {
  .header {
    &__alarm-box,
    &__msg-box {
      display: none;
    }

    &__btn {
      margin-right: 10px;
      display: none;
    }
  }

  .intro {
    padding-bottom: 140px;

    &__title {
      font-size: 40px;
      line-height: normal;
    }

    &__subtitle {
      font-size: 16px;
    }
  }
  
  .search {
    &__form {
      display: block;
      text-align: center;

    }

    &__input {
      max-width: 100%;
      margin-bottom: 20px;
    }

    &__select-wrapper {
      margin: 0;
    }

    &__btn {
      margin-left: 20px;

    }
  }

  .benefits {
    padding-top: 140px;
  }

  .newest {

    .product {
      &--small {
        max-width: 100%;
      }

      &__title {
        &--small {
          padding-top: 0;
        }
      }
    }
  }

  .feed {
    .product {
      max-width: calc(100vw - 30px);

      &__card--small {
        max-width: 100%;
      }
    }
  }

  .footer {
    &__inner{
      justify-content: flex-start;
    }

    &__column {
      &--bigger {
        max-width: 100%;
        width: 100%;
        margin-top: 30px;
      }
      &--margin {
        margin-right: 80px;
      }
    }

    &__title {
      margin-bottom: 5px;
    }

  }
}

@media (max-width: 576px) {
  .header {
    &__name,
    &__money {
      display: none;
    }

    &__user-link {
      margin-right: 0;
    }

    &__cart-menu {
      right: -50px;
      max-width: 300px;

      &::after {
        right: 65px;
      }
    }

    &__manager {
      display: flex;
      justify-content: space-between;
      min-height: unset;
      padding: 0 20px;
      margin: 10px 0;
    }

    &__delete {
      margin-bottom: 0;
    }

    &__product {
      display: block;
      padding: 0 5px;
    }

    &__price {
      display: inline-block;
    }
  }

  .intro {
    padding-bottom: 170px;
  }

  .search {
    &__input {
      margin-bottom: 10px;
    }

    &__select-wrapper {
      max-width: 100%;
      width: 100%;
    }

    &__select {
      max-width: 100%;
      width: 100%;
    }

    &__btn {
      display: block;
      max-width: 100%;
      margin: 10px auto 0;
    }
  }

  .benefits {
    padding-top: 160px;
  }

  .product {
    &__stats {
      flex-direction: column;
      &--small {
        flex-direction: row;
      }
    }

    &__stars {
      margin-top: 10px;

    }


  }

}  /* / 576px */




@media (min-width: 992px) {
  .header__menu {
    display: block !important;
  }
}
