@import "fonts";
@import "vars";
@import "global";


/* ----- HEADER START ----- */
.header {

  &__top {
    background-color: #eef1f3;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }

  &__logo {
    @include focus;
  }


  &__btn {
    margin-left: auto;
    margin-right: 34px;
    padding: 0 18px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background-color: $blue;
    color: $white;
    border-radius: 18px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @include focus;

    &:hover {
      background-color: $violet;
    }
  }

  &__user {
    display: flex;
  }

  &__link {
    position: relative;
    font-size: 20px;
    color: #7e8fa1;
    @include focus;
  }

  &__informer {
    display: none;
    position: absolute;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    font-size: 14px;
    text-align: center;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    top: -15px;
    left: 9px;
    border-radius: 11px;
    transition: all .3s;

    &--active {
      display: block;
    }

    &--alarm {
      background-color: #ff6a6c;
    }

    &--envelope {
      background-color: $green;
    }

    &--cart {
      background-color: $blue;
    }
  }

  &__user-link {
    margin-right: 22px;
    @include focus;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__name {
    color: $text2;
    font-weight: 500;
    max-width: 150px;
    @include focus;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $blue;
    }
  }

  &__money {
    display: block;
    color: $blue;
    font-size: 15px;
    max-width: 150px;
    @include focus;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $black;
    }
  }

  &__bottom {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

  }

  &__mobile-menu {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 44px;
    color: #000;
    @include focus;
  }

  &__menu {
    display: none;

    &--off {
      display: none;
    }
  }

  &__notify-box {
    margin-right: 48px;
  }

  &__notify {
    display: inline-block;
    line-height: 100px;
    height: 100px;
    cursor: pointer;
    padding: 0 16px;

    &:hover {
      .header__informer,
      .header__link {
        color: $black;
      }
    }

    .dropdown {
      width: 370px;
    }

    &--bell {
      .dropdown {
        left: -14px;

        &::after {
          left: 30px;
          right: unset;
        }
      }
    }

    &--message {
      .dropdown {
        right: -15px;

        &::after {
          right: 32px;
        }

        &__sender {
          padding-right: 30px;

          &:hover {
            text-decoration: none;
          }
        }

        &__time {
          margin-top: 0;
        }

        &__event {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;
        }
      }
    }

    &--cart {
      .dropdown {
        width: 400px;
        right: -30px;

        &::after {
          right: 45px;
        }

        &__item {
          padding: 25px;
          border-bottom: 1px solid #e8ebf0;
          border-top: none;
        }
      }
    }
  }

  &__user-box {
    display: flex;
    align-items: center;
    cursor: pointer;

    .dropdown {
      width: 270px;

      &::after {
        right: 30px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    padding-right: 15px;

    & + & {
      padding-left: 15px;
    }

    .dropdown {
      width: 270px;
      left: 0;

      &::after {
        display: none;
      }

      &__link {
        padding-left: 10px;

        &::before {
          display: none;
        }
      }
    }

    &--pages {
      .dropdown {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        width: 100%;
        right: 0;
        margin: 0 auto;

        &__link {
          max-width: 180px;
        }

        &__menu-item {
          padding-right: 0;
        }
      }
    }
  }

  &__menu-link {
    color: $text2;
    font-size: 15px;
    font-weight: 500;
    @include focus;

    &:hover {
      color: $blue;
    }
  }
}

.close-btn {
  display: none;
  padding: 15px 0;
}

.dropdown-wrapper {
  position: relative;

  &:hover {
    .dropdown {
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
  }

  &.header__item--pages {
    position: static;
  }
}

.dropdown {
  background-color: $white;
  border-top: 1px solid $blue;
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
  border-radius: 0 0 3px 3px;
  position: absolute;
  line-height: normal;
  top: 110%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  cursor: auto;
  z-index: 3;

  &::after {
    position: absolute;
    content: '';
    border-top: 14px solid transparent;
    border-bottom: 10px solid #0674ec;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    bottom: 100%;
    right: 19px;
  }

  &__menu {
    list-style: none;
    padding: 21px 0;
    margin: 0;
  }

  &__menu-item {
    padding: 0 20px;
  }

  &__link {
    display: block;
    position: relative;
    padding-left: 40px;
    line-height: 44px;
    color: #54667a;
    @include focus;

    &:hover {
      background-color: $blue;
      border-radius: 2px;
      color: $white;
    }

    &::before {
      position: absolute;
      font-family: 'Linearicons-Free';
      content: "\e82a";
      font-size: 15px;
      left: 10px;
    }

    &--dashboard {
      &::before {
        content: "\e800";
      }
    }

    &--account {
      &::before {
        content: "\e810";
      }
    }

    &--purchases {
      &::before {
        content: "\e82e";
      }
    }

    &--favorites {
      &::before {
        content: "\e813";
      }
    }

    &--credits {
      &::before {
        content: "\e812";
      }
    }

    &--statements {
      &::before {
        content: "\e843";
      }
    }

    &--upload {
      &::before {
        content: "\e866";
      }
    }

    &--edit {
      &::before {
        content: "\e828";
      }
    }

    &--withdraw {
      &::before {
        content: "\e84c";
      }
    }

    &--logout {
      &::before {
        content: "\e820";
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 25px 0;
  }

  &__title {
    font-size: 18px;
    color: $black;
  }

  &__view {
    display: inline-block;
    font-size: 15px;
    color: $blue;
    @include focus;

    &:hover {
      background-color: $blue;
      color: #fff;
      padding: 0 10px;
      border-radius: 8px;
    }
  }

  &__item {
    border-top: 1px solid #e8ebf0;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    @include focus;

    &:hover {
      background-color: #eef1f3;
    }

    &--new { /* маркировка сообщения как "новое" */
      .dropdown__time {
        color: $blue;
      }

      .dropdown__sender {
        &::after {
          display: block;
        }
      }
    }

    &--reply { /* маркировка сообщения как "ответ" */
      .dropdown__sender {
        &::after {
          display: block;
          content: url('../images/icons/reply.svg');
          color: #555;
        }
      }
    }
  }

  &__info {
    display: flex;
    width: 100%;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
  }

  &__event-box {
    max-width: 100%;
    width: 100%;
  }

  &__event {
    margin-top: -4px;
  }

  &__sender {
    font-weight: 500;
    color: #333;
    @include focus;
    position: relative;

    &::after {
      position: absolute;
      font-family: 'Linearicons-Free';
      content: "\e818";
      color: $blue;
      font-size: 15px;
      top: 0;
      right: 0;
      display: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__action {
    color: #747a86;
    font-size: 15px;
  }

  &__target {
    color: $blue;
    @include focus;

    &:hover {
      text-decoration: underline;
    }
  }

  &__time {
    font-size: 14px;
    color: #747a86;
    margin-top: 5px;
  }

  &__icon {
    background-color: rgba(6, 116, 236, .1);
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
    color: $blue;
    margin-top: 13px;
    margin-left: 5px;

    &--violet {
      background-color: rgba(115, 71, 193, .1);
      color: $violet;
    }

    &--red {
      background-color: rgba(255, 106, 108, .1);
      color: rgb(255, 106, 108);
    }

    &--green {
      background-color: rgba(98, 208, 58, .1);
      color: rgb(98, 208, 58);
    }
  }

  &__text {
    max-width: 250px;
    font-size: 15px;
    color: #555;
  }

  &__cart {
    margin-top: -5px;
  }

  &__product-name {
    font-size: 16px;
    font-weight: 500;
    color: $black;
    line-height: 22px;

    &:hover {
      color: $blue;
    }
  }

  &__product-info {
    max-width: 280px;
    display: flex;
  }

  &__img {
    width: 80px;
    height: 70px;
    margin-right: 15px;
  }

  &__manager {
    min-height: 70px;
    text-align: center;
  }

  &__seller {
    margin-top: 20px;
  }

  &__delete {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 15px;
    color: #818c98;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    @include focus;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &__price {
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    background-color: rgba(6, 116, 236, .1);
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
  }

  &__tag {
    width: 16px;
    height: 16px;
  }

  &__tag-name {
    color: $violet;
  }

  &__total {
    padding: 22px 24px 30px;
    font-weight: 500;
    font-size: 18px;
    color: $black;
    text-align: right;
  }

  &__summ {
    margin-left: 30px;
  }

  &__cart-links {
    display: flex;
  }

  &__button {
    display: inline-block;
    line-height: 60px;
    width: 50%;
    height: 60px;
    text-align: center;
    color: $white;
    background-color: $violet;
    position: relative;
    @include focus;

    &::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background-color: $white;
      bottom: 20%;
      left: 50%;
      opacity: 0;
      overflow: hidden;
      transform: translateX(-50%);
      transition: all .3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &--checkout {
      background-color: $blue;
    }
  }

  &__column-title {
    color: $black;
    font-weight: 700;
    padding-top: 34px;
    padding-bottom: 17px;
    margin-left: 30px;
    margin-right: 19px;
    border-bottom: 1px solid #e8ebf0;

  }

  &__column-menu {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    font-size: 15px;

    &:last-child {
      margin-right: 54px;
      margin-bottom: 30px;
    }
  }

  &__column-list {
    margin: 0;
    padding: 0;
    list-style: none;

    & + & {
      margin-left: 61px;
    }
  }

  &__column-item {
    &:hover {
      background-color: $blue;
      border-radius: 2px;

      .header__column-link {
        color: $white;
      }
    }
  }
}

.search-form {
  position: relative;
  max-width: 360px;
  width: 100%;

  &__input {
    display: block;
    width: 100%;
    min-height: 46px;
    padding: 0 70px 0 25px;
    border-radius: 23px;
    border: 1px solid #d9dfe5;
    @include focus;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 46px;
    border-radius: 23px;
    background-color: $blue;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    cursor: pointer;
    @include focus;

    &:hover {
      background-color: $violet;
    }
  }

  &--footer {
    margin-bottom: 50px;

    .search-form {
      &__input {
        height: 50px;
        border-radius: 25px;
        padding-right: 120px;
      }

      &__btn {
        width: 110px;
        height: 50px;
        border-radius: 25px;
      }
    }
  }

  &--searcher {
    max-width: 555px;
    margin: 0 auto 37px;
    font-size: 15px;

    .search-form {
      &__input {
        padding-right: 120px;
        height: 55px;
        border-radius: 28px;
      }

      &__btn {
        border-radius: 28px;
        height: 55px;
        color: $white;
        width: 110px;
      }
    }
  }
}

/* ----- HEADER END ----- */


/* ----- INTRO START ----- */
.intro {
  width: 100%;
  min-height: 726px;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  text-align: center;

  &__title {
    color: $almost-white;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    padding-top: 170px;
    margin-bottom: 35px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    &--fw700 {
      display: block;
      font-weight: 700;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    color: $almost-white;
    margin-bottom: 65px;
  }

  .intro__link {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}

.button {
  display: inline-block;
  border-radius: 28px;
  padding: 0 32px;
  height: 55px;
  line-height: 55px;
  color: $white;
  text-align: center;
  background-color: $blue;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  @include focus;
}


/* ----- INTRO END ----- */


/* ----- SEARCH START ----- */
.search {
  position: relative;

  &__form {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    max-width: 1140px;
    width: 100%;
    padding: 40px;
    background-color: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    z-index: 1;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      background-color: $white;
      height: 135px;
      border-radius: 6px;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: .5;
      z-index: -1;
    }

    &::before {
      max-width: 1110px;
      transform: translateY(-13px);
    }

    &::after {
      max-width: 1080px;
      transform: translateY(-26px);
    }
  }

  &__input,
  &__select,
  &__btn {
    width: 100%;
    height: 55px;
    border: 1px solid #dcdcdc;
    @include focus;
  }

  &__input {
    max-width: 612px;
    border-radius: 4px 0 0 4px;
    padding: 0 30px;

    &::placeholder {
      color: #676767;
    }
  }

  &__select {
    width: 194px;
    border-radius: 0 4px 4px 0;
    padding: 0 20px;
    appearance: none;
    color: #555;
  }

  &__btn {
    max-width: 220px;
    font-size: 16px;
    background-color: $blue;
    color: $white;
    border: 1px solid transparent;
    margin-left: 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
    padding: 10px;

    &:hover {
      background-color: $violet;
    }
  }

  &__select-wrapper {
    position: relative;
    display: inline-block;
    margin-left: -5px;

    &::after {
      display: inline-block;
      position: absolute;
      right: 21px;
      top: 30px;
      transform: translateY(-50%);
      font-family: 'Linearicons-Free';
      content: "\e874";
      font-size: 12px;
      color: #676767;
      pointer-events: none;
    }
  }
}

/* ----- SEARCH END ----- */


/* ----- BENEFITS START ----- */
.benefits {
  padding: 186px 0 121px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    @include focus;
  }

  &__item {
    max-width: 361px;
    padding: 40px 35px 50px;
    text-align: center;
    @include focus;

    &:hover {
      border-radius: 4px;
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }
  }

  &__image {
    width: 112px;
    height: 113px;
    margin: 0 auto;
    background-image: url('../images/advantages-img-1.jpg');
    @include bg-properties;
    margin-bottom: 35px;

    &--middle {
      background-image: url('../images/advantages-img-2.jpg');
    }

    &--right {
      background-image: url('../images/advantages-img-3.jpg');
    }
  }

  &__title {
    font-size: 24px;
    color: $black;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: $text;
  }
}

/* ----- BENEFITS END ----- */


/* ----- FEATURED START ----- */
.featured {
  background-color: #eff1f5;
  padding: 120px 0;

  &__slick-arrow {
    width: 55px;
    height: 45px;
    font-size: 14px;
    color: $white;
    background-color: #7347c1;
    border: none;
    cursor: pointer;
    @include focus;

    &:hover {
      background-color: #6641ad;
    }

    &--prev {
      border-radius: 23px 0 0 23px;
    }

    &--next {
      border-radius: 0 23px 23px 0;
    }
  }
}

.product {
  max-width: 100%;
  background-color: $white;
  display: flex;
  border-radius: 4px;

  &__img-box {
    position: relative;
    width: 100%;
    height: 450px;

    &:hover .product__links {
      height: 450px;
    }
  }

  &__img {
    border-radius: 4px 0 0 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    background-color: #0674ec;
    background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
    border-radius: 4px;
    opacity: 0.95;
    transition: all .5s;
    overflow: hidden;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #f4f4f4;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    margin: 0 10px;
    color: $white;
    @include focus;

    &:hover {
      color: $blue;
      background-color: #fff;
    }
  }

  &__card {
    max-width: 585px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
  }

  &__card-inner {
    flex: 1 0 auto;
  }

  &__title {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    color: $black;
    margin: 45px 0 15px;
    @include focus;

    &:hover {
      color: $blue;
    }
  }

  &__about {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }


  &__seller {
    display: flex;
    align-items: center;
    margin-right: 15px;
    @include focus;
  }

  &__seller-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__name {
    font-size: 15px;
    max-width: 195px;
    margin-left: 9px;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__tag {
    margin-left: 20px;
    display: flex;
    @include focus;
    color: $violet;
  }

  &__tag-name {
    font-size: 15px;
    max-width: 195px;
    margin-left: 9px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
    max-width: 475px;
    margin-bottom: 40px;
    min-height: 110px;
  }

  &__tag-link {
    display: inline-block;
    height: 28px;
    padding: 0 15px;
    line-height: 28px;
    border-radius: 14px;
    background-color: #f1f3f6;
    color: #868c96;
    border: none;
    margin-bottom: 45px;
    cursor: pointer;
    @include focus;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }

  &__stats {
    flex: 0 0 auto;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 485px;
    padding: 23px 0;
  }

  &__price {
    display: inline-block;
    padding: 0 18px;
    height: 32px;
    line-height: 32px;
    background-color: rgba(6, 116, 236, .1);
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    border-radius: 16px;
    margin-right: 20px;
    @include focus;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__likes {
    display: inline-block;
    color: $violet;
    margin-right: 20px;
  }

  &__count {
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    color: #7e7e7e;
  }

  &__orders {
    font-size: 15px;
    display: inline-block;
    color: $blue;
  }

  &__orders-count {
    font-family: Quicksand, sans-serif;
    font-size: 15px;
  }

  &__stars {
    padding: 0;
  }

  &__hidden {
    display: none;
  }

  &.list {
    width: 100%;
    display: flex;
    flex-basis: 100%;

    .product {
      &__hidden {
        display: block;
      }

      &__visible {
        display: none;
      }

      &__img {
        width: 230px;
        height: 210px;
        border-radius: 4px 0 0 4px;
      }

      &__card {
        max-width: 100%;
        display: flex;
        padding: 30px 0;
      }

      .product__title {
        font-size: 60px;
        margin: 0 0 7px 0;
      }

      &__description {
        display: inline-block;
        margin: 0 0 20px;
        min-height: auto;
      }

      &__img-box {
        height: 210px;

        &:hover .product__links {
          height: 210px;
        }
      }



      &__card-inner {
        display: flex;
        padding: 0;
      }

      &__section-left {
        max-width: 260px;
        width: 100%;
        padding: 0 30px 0 19px;
        border-right: 1px solid #ececec;
      }

      &__title {
        margin: 0 0 10px;
      }

      &__section-middle {
        max-width: 205px;
        width: 100%;
        padding: 0 20px;
        border-right: 1px solid #ececec;
      }

      &__section-right {
        max-width: 150px;
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__tag {
        margin-left: 5px;
      }

      &__seller {
        margin: 10px 0 25px 0;
      }

      &__likes {
        font-size: 15px;
        margin-bottom: 14px;
      }

      &__comments-link {
        display: block;
        margin-bottom: 10px;
        color: $violet;
        @include focus;
      }

      &__comments {
        font-family: Quicksand, sans-serif;
        font-size: 15px;
        color: #6f7d8d;

        &:hover {
          text-decoration: underline;
        }
      }

      &__stars-box {
        display: flex;
        align-items: center;
      }

      &__stars-rating {
        display: inline-block;
        margin-left: 10px;
        color: #6f7d8d;
      }

      &__stars {
        display: inline-block;
      }

      &__price {
        margin-bottom: 30px;
      }
    }
  }

  &--small {
    display: block;
    flex-basis: calc(33.333% - 28px);
    background-color: $white;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 28px;

    .product {
      &__img-box {
        height: auto;

        &:hover {
          .product__links {
            height: 230px;
          }
        }
      }

      &__img {
        border-radius: 4px 4px 0 0;
        width: 361px;
        height: 230px;
      }

      &__card {
        min-height: calc(100% - 230px);
        width: 100%;
        padding: 0;
      }

      &__card-inner {
        padding: 0 30px;
      }

      &__title {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: $black;
        margin: 25px 0 14px;
      }

      &__about {
        margin-bottom: 0;
      }

      &__name {
        max-width: 150px;
      }

      &__tag {
        max-width: 300px;
      }

      &__tag-name {
        max-width: 150px;
      }

      &__description {
        margin-top: 28px;
        margin-bottom: 3px;
      }

      &__stats {
        max-width: 361px;
        padding: 15px 30px;
      }

      &__price {
        margin-right: 13px;
      }

      &__likes {
        margin-right: 10px;
      }

      &__stars {
        display: inline-block;
        padding: 0;
      }
    }
  }

  &--sort {
    //max-width: 262px;
    margin-left: 30px;
    display: block;
    background-color: $white;
    flex-basis: calc(33.333% - 30px);
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);

    .product {

      &__img-box {
        border-radius: 4px 4px 0 0;
        width: 262px;
        height: 160px;

        &:hover {
          .product__links {
            height: 160px;
          }
        }
      }

      &__img {
        border-radius: 4px 4px 0 0;
      }

      &__card {
        width: 100%;
        min-height: calc(100% - 160px);
        padding: 0;
      }

      &__card-inner {
        padding: 0 20px;
      }

      &__title {
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: $black;
        margin: 15px 0 15px;
      }

      &__seller {
        margin-bottom: 20px;
      }

      &__seller-img {
        width: 28px;
        height: 28px;
      }

      &__name {
        max-width: 180px;
      }

      &__tag {
        margin: 0;
      }

      &__tag-name {
        max-width: 140px;
      }

      &__description {
        display: none;
      }

      &__stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
      }

      &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }

      &__price {
        height: 30px;
        margin: 0;
      }

      &__orders-count {
        margin-left: 10px;
        font-family: Quicksand, sans-serif;
      }
    }
  }
}

/* ----- FEATURED END ----- */

/* ----- NEWEST START ----- */
.newest {
  padding: 120px 0;
  background-color: #f6f7fb;

  &__inner {
    margin-bottom: 60px;
  }

  &__title {
    padding: 35px 30px;
    margin-bottom: 30px;
  }

  &__filter {
    position: relative;
    display: flex;
    align-items: center;
    color: #747b86;
    font-size: 16px;
    border-radius: 4px;
    line-height: 32px;
    height: 50px;
    cursor: pointer;
    transition: all .3s;

    &:hover {

      .newest__menu-box {
        visibility: visible;
      }
    }
  }

  &__filter-btn {
    height: 44px;
    padding-right: 30px;
    font-size: 16px;
    color: #747b86;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    @include focus;

    &:hover {
      color: $blue;
    }

    &::after {
      position: absolute;
      content: "\e900";
      font-family: 'icomoon' !important;
      font-size: 20px;
      right: 0;
    }
  }

  &__menu-box {
    visibility: hidden;
    position: absolute;
    top: 47px;
    right: -20px;
    min-width: 183px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    padding: 27px 28px;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 28px solid #fff;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      top: -20px;
      right: 7px;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-top: 15px;
  }

  &__menu-link {
    display: block;
    color: #747b86;
    font-size: 15px;
    border: none;
    outline: transparent;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  &__tag-btn {
    margin-right: 10px;
  }

  &__tags {
    font-size: 15px;
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    &__tag-link {
      margin-bottom: 0;
      height: 32px;

      &:focus{
        background-color: $blue;
        color: #fff;
      }
    }
  }

  &__inner-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -28px;
  }

  &__new-btn {
    background-color: $blue;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $violet;
    }
  }

  &__bottom {
    text-align: center;
  }

}


/* ----- NEWEST END ----- */


/* ----- FEED START ----- */
.feed {
  padding: 120px 0;
  background-color: #eff1f5;

  &__slider-item {
    margin-right: calc((1140px - (3 * 361px)) / 2);
  }

  &__slick-arrow {
    width: 55px;
    height: 45px;
    font-size: 14px;
    color: $white;
    background-color: $blue;
    border: none;
    cursor: pointer;
    @include focus;

    &:hover {
      background-color: #6641ad;
    }

    &--prev {
      border-radius: 23px 0 0 23px;
    }

    &--next {
      border-radius: 0 23px 23px 0;
    }
  }

  .product {
    flex-basis: 100%;
    margin-left: 0;
    max-width: 361px;
  }
}

/* ----- FEED END ----- */

/* ----- STATS START ----- */
.stats {
  padding: 100px 0;
  background-color: #0d0f13;

  &__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    color: #feb71d;

    &--blue {
      color: $blue;
    }

    &--green {
      color: $green;
    }

    &--red {
      color: $red;
    }
  }

  &__img {
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__count {
    font-size: 36px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 18px;
    color: #fff;
  }
}

/* ----- STATS END ----- */

/* ----- ADVANTAGES START ----- */
.advantages {
  padding: 120px 0;

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    max-width: 361px;
    padding: 40px 34px 50px;
    text-align: center;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;

  }

  &__num {
    position: absolute;
    font-weight: 300;
    color: rgba(92, 135, 248, .2);
    font-size: 48px;
    top: 20px;
    left: 20px;
  }

  &__img {
    font-size: 60px;
    color: $blue;
    margin-bottom: 53px;

    &--violet {
      color: $violet;
    }

    &--green {
      color: $green;
    }

    &--yellow {
      color: $yellow;
    }

    &--light-blue {
      color: #58c9e9;
    }

    &--red {
      color: $red;
    }
  }

  &__item-title {
    font-size: 24px;
    color: $black;
    margin-bottom: 30px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    color: $text;
  }
}

.title {
  text-align: center;

  &__text {
    font-size: 36px;
    color: #000;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #555;
    max-width: 675px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__highlight {
    color: $blue;
  }
}

/* ----- ADVANTAGES END ----- */

/* ----- SELL&BUY START ----- */
.sell-buy {
  position: relative;
  padding-bottom: 561px;

  &__part {
    position: absolute;
    width: 50%;
    height: 561px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    @include bg-properties;

    &--left {
      left: 0;
      background-image: url('../images/sell-bg-left.svg');
    }

    &--right {
      right: 0;
      background-image: url('../images/sell-bg-right.svg');
    }
  }

  &__title {
    margin-bottom: 27px;
    font-size: 36px;
    padding: 0 20px;
    text-align: center;
  }

  &__text {
    max-width: 580px;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__btn {
    padding: 0 15px;
    color: $blue;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    &--violet {
      color: $violet;
    }

    &:hover {
      box-shadow: 1px 1px 9px 2px $white;
    }
  }
}

/* ----- SELL-BUY END ----- */

/* ----- FEEDBACK START ----- */
.feedback {
  padding: 120px 0;

  &__subtitle {
    margin-bottom: 10px;
  }

  &__link {

    & + & {
      margin-left: 30px
    }

    &:hover {
      box-shadow: 1px 1px 9px 0 $blue;
    }
  }

  &__item {
    padding: 50px 40px;
    max-width: 555px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    border-left: 2px solid $blue;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    z-index: 1;

    &::after {
      position: absolute;
      content: "\e83f";
      font-family: 'Linearicons-Free';
      font-size: 60px;
      color: #e8e8e8;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  &__photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__name {
    display: inline-block;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
    z-index: 2;
  }

  &__job {
    color: $text;
    z-index: 1;
  }

  &__text {
    line-height: 30px;
    color: $text;
    margin: 0;
  }

  &__slider {
    margin-bottom: 10px;

    &:hover {
      .feedback__slick-arrow {
        opacity: 1;
      }
    }
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__slider-item {
    padding: 50px 0;
  }

  &__slick-arrow {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 14px;
    color: #7347c1;
    background-color: $white;
    box-shadow: 0 4px 15px rgba(67, 67, 67, 0.15);
    border: none;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    @include focus;

    &:hover {
      box-shadow: 1px 1px 9px 0 $blue;
    }

    &--prev {
      left: 15px
    }

    &--next {
      right: 15px;

    }
  }

  &__bottom {
    text-align: center;
  }

  &__btn {
    &:hover {
      background-color: $violet;
    }
  }
}

/* ----- FEEDBACK END ----- */

/* ----- NEWS START ----- */
.news {
  background-color: #eff1f5;
  padding: 120px 0;

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 361px;
    border-radius: 4px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    margin-bottom: 30px;
  }

  &__link {
    display: inline-block;
    @include focus;

  }

  &__img {
    width: 100%;
    height: 230px;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
    object-position: center;
  }

  &__inner {
    flex: 1 0 auto;
    padding: 30px;
    width: 100%;

  }

  &__title {
    font-weight: 500;
    color: #000;
    font-size: 22px;
    margin-bottom: 30px;

    &:hover {
      color: $blue;
    }
  }

  &__text {
    margin: 0;
    line-height: 30px;
  }

  &__info {
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    font-size: 15px;
    border-top: 1px solid #ececec;
    padding: 10px 10px 8px;
    margin-top: auto;
  }

  &__stats {
    width: 50%;
    padding: 13px 0 16px;
    color: #7e7e7e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date-box {
    width: 50%;
    color: $blue;
    border-right: 1px solid #ececec;
    padding: 13px 0 16px;
  }

  &__date {
    color: #999;
    padding-left: 8px;
    font-family: Quicksand, sans-serif;
  }

  &__comments {
    margin-right: 30px;
  }

  &__comments-link {
    color: #7e7e7e;
    @include focus;

    &:hover {
      color: $blue;
    }
  }
}

/* ----- NEWS END ----- */

/* ----- SUPPORT START ----- */
.support {
  position: relative;
  padding-bottom: 297px;

  &__part {
    position: absolute;
    width: 50%;
    height: 297px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    color: #000;

    &--left {
      left: 0;
      border-right: 1px solid #e8eaf3;
    }

    &--right {
      right: 0;
    }
  }


  &__image {
    margin-bottom: 32px;
  }

  &__title {
    font-size: 24px;
    padding: 0 10px;
    text-align: center;
  }

  &__highlight {
    color: $blue;

    &--violet {
      color: $violet;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

/* ----- SUPPORT END ----- */


/* ----- JOIN START ----- */
.join {
  padding: 110px 0;
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
  //opacity: 0.9;
  text-align: center;

  &__title {
    font-size: 36px;
    margin-bottom: 23px;
    color: #fff;
  }

  &__subtitle {
    font-size: 18px;
    color: #e7e7e7;
    margin-bottom: 50px;
  }

  &__btn {
    background-color: #fff;
    color: $blue;

    &:hover {
      box-shadow: 1px 1px 9px 2px $white;
    }
  }
}

/* ----- JOIN END ----- */


/* ----- FOOTER START ----- */
.footer {

  &__top {
    background-color: #262b30;
    padding: 115px 0 120px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #ababab;
  }

  &__column {
    max-width: 140px;

    &--big {
      max-width: 265px;
    }

    &--bigger {
      max-width: 360px;
    }
  }

  &__logo {
    margin-bottom: 35px;
  }

  &__title {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.9px;
    line-height: 42px;
    padding-top: 4px;
    margin-bottom: 35px;
  }

  &__text {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  &__link {
    color: #ababab;
    @include focus;

    &:hover {
      color: $blue;
    }
  }

  &__contacts,
  &__menu,
  &__social {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__contact {
    position: relative;
    padding-left: 30px;

    & + & {
      margin-top: 22px;
    }

    &::before {
      position: absolute;
      font-family: 'Linearicons-Free';
      content: "\e830";
      font-size: 16px;
      color: #fff;
      left: 0;
    }

    &--email {
      &::before {
        content: "\e818";
      }
    }

    &--address {
      line-height: 26px;

      address {
        font-style: inherit;
      }

      &::before {
        content: "\e833";
        top: 25%;
      }
    }
  }


  &__item {
    line-height: 28px;

    & + & {
      margin-top: 5px;
    }
  }

  &__copyright {
    background-color: #192027;
  }

  &__copyright-text {
    text-align: center;
    font-size: 15px;
    color: #999;
    padding: 40px;
  }

  &__copyright-link {
    color: #fff;
    @include focus;

    &:hover {
      color: $blue;
    }
  }
}

.social {
  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;

    & + & {
      margin-left: 13px;
    }
  }

  &__link {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url('../images/css_sprites.png');
    @include focus;

    &:hover {
      box-shadow: 1px 1px 9px 2px $yellow;
    }

    &--facebook {
      background-position: -57px -5px;
    }

    &--twitter {
      background-position: -265px -5px;
    }

    &--google {
      background-position: -109px -5px;
    }

    &--pinterest {
      background-position: -213px -5px;
    }

    &--linkedin {
      background-position: -161px -5px;
    }

    &--dribble {
      background-position: -5px -5px;
    }
  }

}

/* ---------- FOOTER END ---------- */
/* -------- INDEX.HTML END -------- */


/* ----- CATEGORIES.HTML START ----- */

/* ---------- SEARCHER START ---------- */
.searcher {
  background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
  opacity: 0.9;
  text-align: center;
  padding: 87px 0 30px;

  &__title {
    font-size: 26px;
    color: #f3f3f8;
    font-weight: 400;
    margin-bottom: 32px;

    &--highlight {
      font-weight: 500;
    }
  }

}

/* ---------- SEARCHER END ---------- */


/* ---------- FILTER START ---------- */
.filter {
  padding: 28px 0;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__link {
    background-color: transparent;
    border: none;
    color: $text;
    cursor: pointer;
    @include focus;
    margin-right: 40px;

    &:hover {
      color: $blue;
    }

    &--all {
      margin-right: 0;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
  }

  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    height: 44px;
    padding: 0 20px;
    border: 1px solid #eceff2;
    border-radius: 3px;
    color: #747b86;
  }

  &__sort {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    @include focus;

    & + & {
      margin-left: 15px;
    }

    &--active {
      position: relative;
      color: $blue;

      &::after {
        position: absolute;
        content: '';
        border-bottom: 8px solid transparent;
        border-top: 8px solid $blue;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -11px;
        left: 3px;
      }
    }
  }

  &__price,
  &__qt {
    width: 220px;
    height: 44px;
    background-color: $white;
    border: 1px solid #eceff2;
    border-radius: 3px;
    appearance: none;
    padding: 0 20px;
    color: #747b86;
    font-size: 14px;
    line-height: 32px;
    @include focus;
  }

  &__price-box,
  &__qt-box {
    margin-right: 30px;
    position: relative;

    &::after {
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'Linearicons-Free';
      content: "\e874";
      font-size: 10px;
      pointer-events: none;
    }
  }
}

/* ---------- FILTER END ---------- */


/* ---------- SORT START ---------- */
.sort {
  background-color: #eff1f5;
  padding: 80px 0 120px;

  &__inner {
    display: flex;
  }

  &__aside {
    max-width: 263px;
    margin-right: 30px;
  }

  &__aside-item {
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    padding: 25px 30px 27px;
    margin-bottom: 29px;

    &--bottom {
      padding-bottom: 40px;
    }

  }

  &__aside-title {
    font-size: 20px;
    color: #010101;
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid #e7ebee;

    &::after {
      position: absolute;
      right: 0;
      top: 13px;
      transform: translateY(-50%);
      font-family: 'Linearicons-Free';
      content: "\e874";
      font-size: 12px;
    }
  }

  &__list {
    margin: 0;
    padding: 25px 0 0;
    list-style: none;

    &--filter {
      .sort__item {
        display: block;

        &::before {
          content: '';
          width: 10px;
          height: 10px;
          border: 1px solid #747b86;
          border-radius: 50%;
          background-color: #fff;
        }

        &--active {
          &::before {
            background-color: $blue;
            border:none;
          }
        }
      }
      .sort__Link {
        &:focus {
          background-color: transparent;
          color: #555;
        }
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    position: relative;

    & + & {
      margin-top: 19px;
    }

    &::before {
      position: absolute;
      content: "\e876";
      font-family: 'Linearicons-Free';
      font-size: 10px;
      color: #747b86;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__link {
    border: none;
    background-color: transparent;
    color: #555555;
    font-size: 15px;
    cursor: pointer;
    @include focus;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;

    &:hover {
      color: $blue;
    }

    //&:focus {
    //  background-color: $blue;
    //  color: #fff;
    //}
  }

  &__btn-wrapper {
    text-align: center;
  }

  &__btn {
    padding: 0 33px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: $blue;
    color: $white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    @include focus;

    &:hover {
      background-color: $violet;
    }
  }

  &__content {
    width: 100%;
    text-align: right; /* уносим вправо пагинацию снизу страницы */
  }

  &__content-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 40px;
    margin-left: -30px;
  }

  &__pagination {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__page {
    display: inline-block;

    & + & {
      margin-left: 5px;
    }

    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 20px;
    }
  }

  &__pag-link,
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 38px;
    color: $black;
    border-radius: 19px;
    background-color: #fff;
    @include focus;
  }

  &__pag-link {
    &--active,
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__arrow {
    &--clickable {
      background-color: $violet;
      color: $white;
    }
  }
}

/* range-slider */
.irs--round {
  .irs-max,
  .irs-min {
    display: none;
  }

  .irs-line {
    width: 202px;
    height: 6px;
    border-radius: 3px;
    background-color: #efedf3;
  }

  .irs-bar {
    background-color: #7347c1;
  }

  .irs-handle {
    top: 29px;
    width: 18px;
    height: 18px;
    border: 4px solid #0674ec;
    background-color: #ffffff;
    cursor: pointer;
  }

  .irs-from,
  .irs-to {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(115, 71, 193, .1);
    color: $violet;
    font-size: 15px;
    top: 67px;
    visibility: visible !important;

    &::before {
      display: none;
    }
  }

  .irs-to {
    left: 61% !important;
  }

  .irs-from {
    left: -0.5% !important;
  }

  .irs-single {
    display: none;
  }

}
/* ---------- SORT END ---------- */


/* ---------- LOGIN START ---------- */
.login {
  padding-bottom: 120px;
  background-color: #eff1f5;
  .breadcrumbs-box {
    height: 180px;
    background-color: #6c6c6c;
    background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
    opacity: 0.9;
    margin-bottom: 70px;
  }

  .breadcrumbs {
    padding-top: 58px;
  }

  .breadcrumbs-title {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-top: 26px;
  }

  &__box {
    max-width: 555px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    margin: 0 auto;
    padding: 60px 0;
  }

  &__title-box {
    text-align: center;
    padding: 0 15px 25px;
    border-bottom: 1px solid #e8ebf0;
  }

  &__title {
    color: #000;
    font-size: 26px;
    margin-bottom: 26px;
  }

  &__subtitle {
    color: #555;
    font-size: 16px;
    line-height: 28px;
  }

  &__form {
    padding: 30px 50px 0;
  }
  
  &__label {
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__input {
    max-width: 100%;
    width: 100%;
    border: none;
    background-color: #f4f5f8;
    padding: 18px 20px;
    margin-bottom: 30px;
    @include focus;
    &::placeholder {
      color: #898f96;
      font-size: 16px;
    }
  }

  //checkbox style
  &__check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .jq-checkbox.checked .jq-checkbox__div {
    width: 10px;
    height: 7px;
    margin: 5px 0 0 5px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(-50deg);
  }

  .jq-checkbox {
    margin: 0;
  }

  .jq-checkbox.checked {
    width: 20px;
    height: 20px;
    margin: 0;
    border: none;
    background: $blue;
    box-shadow: none;
    cursor: pointer;
  }

  .jq-checkbox.focused {
    border: none;
  }
  //checkbox style end

  &__check-label {
    color: #555555;
    font-size: 16px;
    margin-left: 15px;
    cursor: pointer;
  }

  &__btn {
    display: block;
    background-color: $blue;
    padding: 16px 58px;
    border-radius: 25px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border: none;
    color: #fff;
    margin-top: 33px;
    margin-bottom: 40px;
    cursor: pointer;
    @include focus;
    &:hover {
      background-color: $violet;
    }
  }

  &__lost-box {
    display: flex;
    justify-content: space-between;
  }

  &__lost {
    color: #898f96;
    font-size: 16px;
  }

  &__link {
    color: $blue;
    @include focus;
    &:hover {
      color: $violet;
    }
  }
}
/* ---------- LOGIN END ---------- */


@import "media";
/* --------------------------STYLE.SCSS END ------------------------------*/
















