@import "vars";
@import "global";
@import "fonts";


/* ----- HEADER START ----- */
.header__top {
  background-color: #eef1f3;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
}

.header__logo-text {
  font-size: 30px;
  font-weight: 700;
  margin-left: 6px;
  line-height: 50px;
  margin-right: auto;
  color: #000;

  span {
    color: $blue;
  }
}

.header__btn {
  margin-left: auto;
  margin-right: 50px;
  padding: 13px 18px;
  border: 1px solid $blue;
  background-color: $white;
  color: $blue;
  border-radius: 28px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
  }
}

.header__notify {
  a + a {
    margin-left: 32px;
  }
}

.header__user {
  display: flex;
  align-items: center;
  line-height: 22px;

  svg {
    margin-right: 22px;
    margin-left: 48px;
  }

  &-name {
    color: $text2;
    font-weight: 500;
  }

  &-money {
    color: $blue;
    font-size: 15px;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.header__menu {

  &-item {
    display: inline-block;
  }

  &-link {
    color: $text2;
    font-size: 15px;
    font-weight: 500;
  }

  li + li {
    margin-left: 33px;
  }
}

.header__search-form {
  position: relative;
  max-width: 360px;
}

.header__search {
  display: block;
  width: 100%;
  min-height: 46px;
  padding: 0 95px 0 25px;
  border-radius: 23px;
  border: 1px solid #d9dfe5;
}

.header__search-btn {
  position: absolute;
  top:0;
  right: 0;
  background-color: $blue;
  width: 70px;
  height: 46px;
  border: 1px solid transparent;
  border-radius: 23px;
  cursor: pointer;
  transition: all .2s;

  svg {
    fill: $white;
  }

  &:hover {
    border: 1px solid $blue;
    background-color: $white;
    svg {
      fill: $blue;
    }
  }
}
/* ----- HEADER END ----- */

/* ----- JUMBOTRON START ----- */
.jumbotron {
  position: relative;
  width: 100%;
  min-height: 726px;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  text-align: center;

  &__title {
    color: $almost-white;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    padding-top: 180px;
    margin-bottom: 38px;

    span {
      display: block;
      font-weight: 400;
    }
  }
}

.jumbotron__subtitle {
  font-size: 20px;
  font-weight: 500;
  color: $almost-white;
  margin-bottom: 68px;
}

.jumbotron__btn {
  padding: 21px 32px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 28px;
  margin: 0 15px;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: #fff;
    color: $blue;
  }
}

.jumbotron__search-form {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  max-width: 1140px;
  width: 100%;
  padding: 40px;
  background-color: $white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  z-index: 5;
}

.jumbotron__search-form {
  input,
  select,
  button {
    width: 100%;
    height: 55px;
    outline: transparent;
    border: 1px solid #dcdcdc;
  }

  input {
    max-width: 612px;
    border-radius: 4px 0 0 4px;
    padding: 0 30px;

    &::placeholder {
      color: #676767;
    }
  }

  select {
    width: 194px;
    border-radius: 0 4px 4px 0;
    padding: 0 20px;
    appearance: none;
    color: #555;
  }

  button {
    max-width: 220px;
    font-size: 16px;
    background-color: $blue;
    color: $white;
    border: 1px solid transparent;
    margin-left: 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
    padding: 10px;
    
    &:hover {
      background-color: transparent;
      border: 1px solid $blue;
      color: $blue;
    }
  }
}

.select-wrapper {
  position: relative;
  display: inline-block;
  margin-left: -5px;
  &::after {
    display: inline-block;
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'icomoon' !important;
    content: "\f107";
    font-size: 14px;
    width: 13px;
    height: 13px;
    color: #676767;
    pointer-events: none;

  }
}

.jumbotron__search-form::before,
.jumbotron__search-form::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: $white;
  height: 135px;
  border-radius: 6px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: .5;
  z-index: -1;
}

.jumbotron__search-form::before {
  max-width: 1110px;
  transform: translateY(-13px);
}

.jumbotron__search-form::after {
  max-width: 1080px;
  transform: translateY(-26px);
}
/* ----- JUMBOTRON END ----- */


/* ----- ADVANTAGES START ----- */
.advantages {
  padding: 186px 0 121px;

  &__inner {
    display: flex;
    justify-content: space-between;

  }

  &__item {
    max-width: 361px;
    padding: 41px 35px 49px;
    text-align: center;
    transition: all .2s;

    &:hover {
      border-radius: 4px;
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }

    &-image {
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
      width: 112px;
      height: 120px;
      margin-bottom: 35px;
    }
  }
}

.advantages__item-title {
  font-size: 24px;
  color: $black;
  margin-bottom: 30px;
}

.advantages__item-text {
  font-size: 16px;
  color: $text;
}
/* ----- ADVANTAGES END ----- */


/* ----- FEATURED START ----- */
.featured {
  background-color: #eff1f5;
  padding: 120px 0;

  &__title {
    margin-bottom: 50px;
  }

  &__product {
    max-width: 100%;
    height: 450px;
    background-color: $white;
    display: flex;
    border-radius: 4px;

    &-card {
      max-width: 585px;
      width: 100%;
      padding: 0 50px;
    }

    &-title {
      font-size: 24px;
      font-weight: 500;
      color: $black;
      margin: 50px 0 20px;
    }
  }
}

.featured__img-box,
.product__img-box {
  position: relative;
}

.featured__img {
  @include bg-properties;
  border-radius: 4px 0 0 4px;
  width: 555px;
  height: 450px;
}

.featured__links,
.product__links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background-color: #0674ec;
  background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
  opacity: 0.95;
  transition: all .5s;
  overflow: hidden;
}

.featured__btn,
.product__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #f4f4f4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 23px;
  margin: 0 10px;
  color: $white;
  transition: all .2s;

  &:hover {
    color: $blue;
    background-color: #fff;
  }
}

.featured__img-box:hover .featured__links {
  height: 450px;
}

.featured__author,
.product__author {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.featured__company,
.product__company {
  display: flex;
  align-items: center;
  margin-right: 20px;


  &-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    @include bg-properties;
  }

  span {
    margin-left: 9px;
    color: $black;
  }
}

.featured__category,
.product__category {
  display: flex;
  align-items: center;
  color: $violet;

  svg {
    width: 16px;
    height: 16px;
    fill: $violet;
  }

  span {
    margin-left: 9px;
  }
}

.featured__description,
.product__description {
  font-size: 16px;
  line-height: 30px;
  max-width: 475px;
  margin-bottom: 40px;
}

.featured__tag-btn,
.product__tag-btn {
  padding: 8px 15px 8px 17px;
  border-radius: 14px;
  background-color: #f1f3f6;
  color: #868c96;
  border: none;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

.featured__tag-btn {
  margin-bottom: 40px;
}

.featured__stats,
.product__stats {
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured__stats {
  max-width: 485px;
  padding: 18px 0;
}


.featured__price,
.product__price {
  padding: 9px 18px;
  background-color: rgba(6, 116, 236, .1);
  color: $blue;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.featured__likes,
.product__likes {
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;

  svg {
    fill: $violet;
    cursor: pointer;

    &:hover {
      stroke: $violet;
      stroke-width: 15%;
    }
  }

  span {
    margin-left: 10px;
  }

}

.featured__orders,
.product__orders {
  font-size: 15px;
  display: inline-block;
  color: $blue;

  svg {
    fill: $blue;
  }

  span {
    margin-left: 10px;
  }
}

.featured-stars,
.product-stars {
  padding: 0;
}

.slick-arrow {
  position: absolute;
  top: -127px;
  right: 30px;
  width: 55px;
  height: 45px;
  background-color: #7347c1;
  border: none;
  cursor: pointer;
  outline: transparent;

  &:hover {
    background-color: #6641ad;
  }
}

.slick-prev {
  border-radius: 23px 0 0 23px;
  right: 85px;
}

.slick-next {
  border-radius: 0 23px 23px 0;
}
/* ----- FEATURED END ----- */



/* ----- PRODUCTS START ----- */
.products {
  padding: 120px 0;
  background-color: #f6f7fb;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__filter {
    color: #747b86;
    font-size: 16px;
    padding-right: 25px;
  }

  &__tags {
    margin-bottom: 50px;
  }
}

.product {
  max-width: 361px;
  height: 530px;
  background-color: $white;
  border-radius: 4px;

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: $black;
    margin: 20px 0 17px;
  }

  &__img {
    @include bg-properties;
    border-radius: 4px 0 0 4px;
    width: 361px;
    height: 230px;
  }

  &__card {
    width: 100%;
    padding: 0 30px;
  }
}

.product__stats {
  max-width: 361px;
  padding: 15px 30px;
}

.product__img-box:hover .product__links {
  height: 230px;
}

.product__description {
  margin-bottom: 20px;
}


.products__new-btn {
  margin-top: 500px;
}











